/* general styles 
for body and typography */
html {
  font-size: 16px;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  font-weight: normal;
  font-style: normal;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.scroll-off {
  pointer-events:none;  
}