.bookinging {
  padding-top: 30px;
}

.bookinging__header {
  padding: 0 20px;
  margin-bottom: 30px;
}

.booking__header-title {
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
}

.booking__header-descr {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000;
}

.booking__search-link {
  padding: 30px 35px;
  background: @brown;
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 4;

  &:focus,
  &:active {
    border: none;
    outline: none;
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.booking__search {
  background: #fff;
  transition: all 500ms ease-in-out;
  opacity: 1;
  visibility: visible;
}

.booking__search-form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
  }

  input {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    border: none;
    background: @grey;
    box-sizing: border-box;

    &:hover {
      background-color: #ebebeb;
    }

    &:focus {
      outline: 2px solid #e5e5e5;
      background-color: #fff;
    }
  }
}

.booking__search-form-date input {
  padding: 14px 40px 14px 15px;
}

.booking__search-form-guests-wrap {
  display: flex;
  justify-content: space-between;
}

.booking__search-form-guests input {
  width: 38px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 9px;
  padding-bottom: 8px;
}


@media @mobile-width-only {
  .booking__header-descr {
    br {
      display: none;
    }
  }

  .booking__search {
    padding: 25px 20px 50px 20px;
  }

  .booking__search-form label {
    margin-bottom: 10px;
    display: block;
  }

  .booking__search-form-date {
    margin-bottom: 22px;

    input {
      width: 100%;
    }
  }

  .booking__search-form-guests-wrap {
    margin-bottom: 45px;
  }

  .booking__search-form-guests {
    width: 114px;
  }

}

@media @tablet-width {
  .booking {
    width: 567px;
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
  }

  .booking__header-title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .booking__search {
    position: absolute;
    bottom: -435px;
    width: 457px;
    z-index: 3;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    padding: 55px;


    &--closed {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      bottom: -350px;
    }
  }

  .booking__search-form-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    input {
      width: 350px;
    }
  }

  .booking__search-form-guests-wrap {
    margin-bottom: 55px;
  }
}