.main-footer {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 25px;
}

.main-footer__title-wrap {
  margin-bottom: 40px;
  text-align: center;
}

.main-footer__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.main-footer__social-wrap {
  text-align: center;
  margin-bottom: 40px;
}

.main-footer__copyright {

  p {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin: 0;
  }
}