.main-features__item {
  display: flex;

  &--reverse {
    flex-direction: row-reverse;
  }
}

.main-features__item-header {
  padding: 55px 20px 40px;
  position: relative;
  text-align: center;
  background: @lightblue;
  color: #fff;
  text-transform: uppercase;

/* 
** Треугольник именно здесь потому, что
** позади треугольника должен быть 
** голубой фон, который есть у 
** main-features__item-header 
*/
  &--triangle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 37px;
    background: url(../../img/page-title-triangle.png) no-repeat;
    background-size: 100% auto;
    background-position: center top;
    margin-bottom: 20px;
  }
}

.main-features__item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.main-features__item-number {
  margin-top: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.main-features__item-descr {
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.main-features__item-img {
  overflow: hidden;
  min-height: 256px;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 256px;
    min-width: 100%;
  }
}

@media @mobile-width-only {
  .main-features__item {
    display: block;
  }

  .main-features__item-title br {
    display: none;
  }

  .main-features__item-descr {
    max-width: 280px;
  }
}

@media @tablet-width {
  .main-features__item-header--triangle:before { 
    display: none;
  }
  
  .main-features__item-header {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-features__item-descr {
    width: 170px;
  }

  .main-features__item-img {
    width: 66.6%;    
  }
}

@media @desktop-width {
  .main-features__item-descr {
    width: 260px;
  }
}