.page-header {
  background: #fff;
  min-height: 56px;
  position: relative;
}

.page-header__open-nav {
  display: block;
  width: 23px;
  height: 22px;
  position: absolute;
  bottom: 20px;
  right: 20px;

  svg {
    fill: @lightblue;
  }
}

.page-header__close-nav {
  display: block;
  width: 23px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 20px;

  svg {
    fill: #fff;
  }
}

@media @tablet-width {
  .page-header__open-nav,
  .page-header__close-nav {
    display: none;
  }
}
